*

!/.travis
!/.travis/**
!/.github
!/.github/**
!/assets
!/assets/**
!/cmake
!/cmake/**
!/code-style
!/code-style/**
!/src
!/src/**
!/test
!/test/**

!/.gitignore
!/.gitlab-ci.yml
!/.travis.yml
!/appveyor.yml

!/.clang-format

!/build.py
!/conanfile.py
!/CMakeLists.txt
!/CMakeSettings.json
!/README.md